

.counter{
  
  border: 1px solid black;
  width: 350px;
  height: auto;
  background-color: antiquewhite;
}

.note{
  border: 1px solid black;
  width: 350px;
  height: auto;
  background-color: rgb(255, 199, 125);
}