body {
  background: #bdc3c7;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.counter {
  border: 1px solid black;
  width: 350px;
  height: auto;
  background-color: antiquewhite;
}

.note {
  border: 1px solid black;
  width: 350px;
  height: auto;
  background-color: rgb(255, 199, 125);
}

.calculator {
  border: 1px solid black;
  width: 350px;
  height: auto;
  background-color: rgb(245, 208, 161);
}

.calculator button {
  width: 35px;
  height: 30px;
  align-items: center;
  text-align: center;
  font-size: 15px;
  margin: 1px;
  border: 2px solid rgb(152, 138, 138);
  cursor: pointer;
  border-radius: 5px;
}

.calculator input {
  width: 139px;
}

.calculator .jednako {
  width: 147px;
}





.forma {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.forma input[type="input"],
.forma input[type="text"] {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(217, 180, 180);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(228, 165, 165, 0.8);
  animation: fade-in 0.3s ease-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 99;
  }
}


.forma button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.forma button:hover,
.forma button[type="button"]:hover {
  opacity: 0.8;
  background-color: #3E8E41;
}


.rezultat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rezultat ol {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 400px;
}

.rezultat ol p {
  margin: 0;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
}

.container button {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.container button:hover {
  opacity: 0.8;
}



/*reg form*/

.form {
  background-color: rgb(222, 207, 207);
  border-radius: 5px;
  width: 550px;
  margin: 20px auto;
  padding: 20px;
  /* height: 600px; */
}
.registration{
 
  border-radius: 5px;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}
.form-body {
  text-align: left;
  padding: 20px 10px;
}

.form-body>* {
  padding: 5px;
}

.form__label {
  width: 40%;
}

.form_input {
  width: 60%;
}

.footer {
  text-align: center;
}

.navbar {
  display: flex;
  flex-direction: row;
}
.navbar li{
  border: 1px solid black;
  border-radius: 6px;
  margin: 2px;
  list-style: none;

}